In [2]:
! pip install pandas

Requirement already satisfied: pandas in c:\python\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\python\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\python\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\python\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
import random
import pandas as pd
from IPython.display import display
import numpy as np

# Step 1: Define a mapping for skills to numeric codes
skills_map = {
    'Skill_1': 1,
    'Skill_2': 2,
    'Skill_3': 3,
    'Skill_4': 4,
    'Skill_5': 5
}

# Step 2: Define Teams with multiple skills and resource count for each skill
teams = {
    'Team_A': {'resources': 10, 'skills': {skills_map['Skill_1']: 4, skills_map['Skill_2']: 3, skills_map['Skill_3']: 3}},
    'Team_B': {'resources': 8,  'skills': {skills_map['Skill_2']: 2, skills_map['Skill_3']: 3, skills_map['Skill_4']: 3}},
    'Team_C': {'resources': 12, 'skills': {skills_map['Skill_3']: 4, skills_map['Skill_4']: 4, skills_map['Skill_5']: 4}},
    'Team_D': {'resources': 7,  'skills': {skills_map['Skill_1']: 2, skills_map['Skill_4']: 3}},
    'Team_E': {'resources': 5,  'skills': {skills_map['Skill_2']: 2, skills_map['Skill_5']: 3}},
    'Team_F': {'resources': 10, 'skills': {skills_map['Skill_4']: 4, skills_map['Skill_5']: 4}},
    'Team_G': {'resources': 8,  'skills': {skills_map['Skill_1']: 3, skills_map['Skill_3']: 3}},
    'Team_H': {'resources': 6,  'skills': {skills_map['Skill_2']: 3, skills_map['Skill_4']: 3}},
    'Team_I': {'resources': 5,  'skills': {skills_map['Skill_1']: 2, skills_map['Skill_5']: 3}},
    'Team_J': {'resources': 9,  'skills': {skills_map['Skill_3']: 4, skills_map['Skill_5']: 4}}
}

# Step 3: Define 30 Projects with Costs, Benefits, and Numeric Skill Codes
projects = [
    {
        'id': i,
        'cost': random.randint(50000, 300000),
        'benefit': random.randint(100000, 700000),
        'requirements': {
            random.choice(list(teams.keys())): random.randint(2, 6),
            random.choice(list(teams.keys())): random.randint(1, 4)
        },
        'skills_required': {
            random.choice(list(skills_map.values())): random.randint(1, 2)
        },  # Use numeric codes for skills with required count
        'strategic_priority': random.randint(1, 4),
        'regulatory_priority': random.randint(1, 4),
        'vendor_dependency': random.randint(1, 4),
        'dependencies': random.sample(range(i), k=random.randint(0, i))  # Random dependencies on previous projects
    }
    for i in range(30)
]

# Step 4: Initialize Population
def initialize_population(pop_size, num_projects):
    population = []
    for _ in range(pop_size):
        project_selection = {'selection': [random.randint(0, 1) for _ in range(num_projects)]}
        population.append(project_selection)
    return population

# Step 5: Fitness Function with Conflict Tracking using Numeric Skills and Skill Count
def fitness_with_conflicts(project_selection, projects, teams):
    selected_projects = [projects[i] for i, selected in enumerate(project_selection['selection']) if selected]
    team_resource_usage = {team: 0 for team in teams}
    
    # Create a copy of the teams to avoid mutation
    teams_copy = {team: {'resources': team_info['resources'], 'skills': team_info['skills'].copy()} for team, team_info in teams.items()}

    total_benefit = 0
    total_cost = 0
    priority_score = 0
    penalty = 0
    completed_projects = set()

    resource_conflicts = []
    priority_conflicts = []

    for project in selected_projects:
        # Check dependencies
        if not all(dep in completed_projects for dep in project['dependencies']):
            penalty += 50  # Penalty for unmet dependencies
            continue

        # Check team skills and resource availability
        conflict = False
        for team, req in project['requirements'].items():
            if team_resource_usage[team] + req > teams_copy[team]['resources']:
                resource_conflicts.append(f"Resource conflict: Team {team} is over-allocated by {team_resource_usage[team] + req - teams_copy[team]['resources']} resources.")
                penalty += 100  # Penalty for exceeding team resources
                conflict = True
                break

            # Compare numeric skill codes and count of skills
            for required_skill, skill_count in project['skills_required'].items():
                if teams_copy[team]['skills'].get(required_skill, 0) < skill_count:
                    penalty += 50  # Penalty for missing required skill or not enough count
                    conflict = True
                    break
                else:
                    # Deduct the skill count for the team if selected
                    teams_copy[team]['skills'][required_skill] -= skill_count

        # Check for priority conflicts between projects assigned to the same team
        if not conflict:
            for team in project['requirements']:
                if any(p for p in selected_projects if p['id'] != project['id'] and p['requirements'].get(team) and p['strategic_priority'] == project['strategic_priority']):
                    priority_conflicts.append(f"Priority conflict: Team {team} is handling multiple projects with the same priority ({project['strategic_priority']}).")
                    penalty += 30  # Additional penalty for priority conflicts

        if conflict:
            continue  # Skip to next project due to conflict

        # Allocate resources
        for team, req in project['requirements'].items():
            team_resource_usage[team] += req

        # Accumulate the project's benefit, cost, and priority score
        total_benefit += project['benefit']
        total_cost += project['cost']
        priority_score += project['strategic_priority'] * 2 + project['regulatory_priority'] * 3  # Weighted priorities
        penalty += project['vendor_dependency'] * 10  # Slight penalty for higher vendor dependency

        # Mark the project as completed
        completed_projects.add(project['id'])

    # Final fitness score calculation (total benefit - cost + weighted priorities - penalties)
    fitness_score = (total_benefit - total_cost) + priority_score - penalty

    return fitness_score, resource_conflicts, priority_conflicts

# Step 6: Display Initial Problem (All Projects)
def display_initial_projects():
    # Create DataFrame for initial projects display
    data = [{
        'Project ID': project['id'],
        'Cost': project['cost'],
        'Benefits': project['benefit'],
        'Teams Involved': ', '.join(list(project['requirements'].keys())),
        'Dependencies': ', '.join(map(str, project['dependencies'])) if project['dependencies'] else 'None',
        'Strategic Priority': project['strategic_priority'],
        'Regulatory Priority': project['regulatory_priority'],
        'Vendor Dependency': project['vendor_dependency']
    } for project in projects]

    df = pd.DataFrame(data)

    # Display the initial project setup
    print("\nInitial Projects:\n")
    display(df)

# Step 7: Display Ranked Projects with Color (Green for Selected, Red for Non-Selected)
def display_ranked_projects_with_color(project_selection, projects):
    data = []

    for i, selected in enumerate(project_selection['selection']):
        project = projects[i]
        row = {
            'Project ID': project['id'],
            'Selected': selected,
            'Cost': project['cost'],
            'Benefits': project['benefit'],
            'Teams Involved': ', '.join(list(project['requirements'].keys())),
            'Dependencies': ', '.join(map(str, project['dependencies'])) if project['dependencies'] else 'None',
            'Strategic Priority': project['strategic_priority'],
            'Regulatory Priority': project['regulatory_priority'],
            'Vendor Dependency': project['vendor_dependency']
        }
        data.append(row)

    df = pd.DataFrame(data)

    # Style the DataFrame with color based on selection
    def highlight_selection(row):
        color = 'green' if row['Selected'] == 1 else 'red'
        return ['background-color: {}'.format(color) for _ in row]

    styled_df = df.style.apply(highlight_selection, axis=1)
    
    print("\nRanked Projects with Selection:\n")
    display(styled_df)

# Step 8: Genetic Algorithm with Conflict Tracking (returns the best project selection)
def genetic_algorithm_with_conflicts():
    population = initialize_population(20, len(projects))

    for gen in range(50):
        new_population = []
        # Elitism: Keep the best project selections
        population.sort(key=lambda sel: fitness_with_conflicts(sel, projects, teams)[0], reverse=True)
        elites = population[:2]
        new_population.extend(elites)

        # Generate new project selections
        while len(new_population) < 20:
            parent1 = selection(population, projects, teams)
            parent2 = selection(population, projects, teams)
            offspring = crossover(parent1, parent2)
            for child in offspring:
                child = mutate(child, 0.1)
                new_population.append(child)
                if len(new_population) >= 20:
                    break

        population = new_population

    # Return the best project selection
    best_project_selection = max(population, key=lambda sel: fitness_with_conflicts(sel, projects, teams)[0])
    return best_project_selection

# Selection, Crossover, and Mutation functions (unchanged from previous version)
def selection(population, projects, teams):
    tournament_size = 3
    selected = random.sample(population, tournament_size)
    selected_fitness = [fitness_with_conflicts(sel, projects, teams)[0] for sel in selected]
    return selected[np.argmax(selected_fitness)]

def crossover(parent1, parent2):
    point = random.randint(1, len(parent1['selection']) - 1)
    child1_selection = parent1['selection'][:point] + parent2['selection'][point:]
    child2_selection = parent2['selection'][:point] + parent1['selection'][point:]
    return [{'selection': child1_selection}, {'selection': child2_selection}]

def mutate(project_selection, mutation_rate):
    for i in range(len(project_selection['selection'])):
        if random.uniform(0, 1) < mutation_rate:
            project_selection['selection'][i] = 1 - project_selection['selection'][i]
    return project_selection

# Step 9: Invoke the algorithm and display the results
def main():
    # Step 1: Display initial projects
    display_initial_projects()

    # Step 2: Run genetic algorithm to get the best project selection
    best_selection = genetic_algorithm_with_conflicts()

    # Step 3: Display the ranked projects with selection highlighted
    display_ranked_projects_with_color(best_selection, projects)

# Run the main function
main()

Initial Projects:

,Project ID,Cost,Benefits,Teams Involved,Dependencies,Strategic Priority,Regulatory Priority,Vendor Dependency
0,0,257773,413098,"Team_J, Team_A",None,1,3,2
1,1,114038,364515,"Team_E, Team_A",0,2,2,3
2,2,63556,392608,"Team_J, Team_I","0, 1",1,4,3
3,3,203078,317006,"Team_J, Team_B",None,4,1,1
4,4,266968,609716,"Team_B, Team_G",None,2,2,2
5,5,282354,546782,"Team_C, Team_D",None,3,3,2
6,6,220584,545174,"Team_H, Team_J",1,1,3,2
7,7,289729,535250,"Team_E, Team_G","4, 0, 6, 5, 1, 2",3,3,2
8,8,266527,241083,"Team_E, Team_A","3, 5, 1, 2",4,3,4
9,9,157530,650503,"Team_E, Team_B","7, 0",4,2,1
10,10,121476,552346,"Team_I, Team_A","3, 5, 7, 2, 0, 6, 1, 8, 4, 9",1,1,1
11,11,124069,276564,"Team_B, Team_A","8, 1",4,1,3
12,12,55273,372652,"Team_I, Team_J","9, 3, 4, 2",4,3,3
13,13,192426,269050,"Team_H, Team_I","5, 10, 9, 7, 4",3,3,4
14,14,269471,697858,Team_F,"5, 8, 6, 9, 0, 2, 10, 11, 12, 7, 3, 13, 4",4,1,3
15,15,55338,421869,"Team_I, Team_E","3, 4, 7, 9, 5, 12, 0, 1, 6, 2, 14",2,2,4
16,16,92694,357445,"Team_I, Team_A","13, 12, 4, 8, 2, 15, 3, 6, 5, 10",2,2,3
17,17,279439,185839,"Team_E, Team_D","10, 13",4,1,4
18,18,108016,630184,"Team_C, Team_J","14, 4, 13, 1, 10, 17, 6",1,4,3
19,19,201009,554282,"Team_F, Team_G","17, 6, 0, 9, 5, 15, 18, 11, 3, 13, 2",3,2,1
20,20,211559,257226,"Team_G, Team_J","2, 3, 17, 11, 8, 14",2,4,2
21,21,57409,450055,"Team_B, Team_E",9,4,4,3
22,22,125488,287650,"Team_C, Team_D","1, 0, 6, 13, 9, 16, 15, 19, 3, 2, 18, 14, 21",3,1,2
23,23,198991,177056,Team_H,"2, 19, 17, 13, 16, 14, 10, 18, 21, 7, 11, 5, 9...",2,4,3
24,24,296408,382468,Team_C,"22, 20, 15, 21, 11, 7, 12, 16, 0, 6, 3, 17, 18...",1,3,2
25,25,240379,555904,"Team_D, Team_J","3, 7, 20, 18, 9, 22, 12, 13, 4, 15",2,1,2
26,26,100393,191591,"Team_G, Team_I","11, 13, 15, 18, 7, 6, 0, 5, 10, 19, 8, 21, 23,...",4,2,2
27,27,148314,652613,"Team_G, Team_H","0, 24, 11, 6, 20, 25, 23, 13, 15, 22, 10, 19, ...",4,2,3
28,28,182919,441152,"Team_H, Team_G","25, 16, 17, 23, 19, 11, 10, 0, 27, 18, 1, 4, 5...",1,2,2
29,29,218892,558999,"Team_J, Team_C","15, 4, 19, 13, 26, 2, 16, 20, 10, 28",1,1,2

Ranked Projects with Selection: